<div>
    <div fxLayout="column" fxLayoutGap="40px">
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link1</a>
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link2</a>
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link3</a>
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link4</a>
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link5</a>
        <a routerLink="/" style="text-align: center; text-decoration: none; font-size: 20px; ">Link6</a>
    </div>
</div>